.container {
    width: 100%;
    border-bottom: 1.5px solid #c4bebecb;
    input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 20px;
        padding: 15px 10px 15px 25px;
    }
}
